In [5]:
import pandas as pd
import numpy as np
import scipy
from geopy.distance import geodesic
from stridze.db import engine

conn = engine.connect()
df = pd.read_sql_table('strava', conn)

In [6]:
print(len(df))

6023053

In [49]:
df.groupby('user_id').activity_id.nunique()

user_id
42265442    1436
73182431     307
Name: activity_id, dtype: int64

In [50]:
def calculate_distance(points):
    distance = 0.0
    previous_point = None

    for point in points:
        if previous_point is not None:
            distance += geodesic((previous_point[0], previous_point[1]),
                                    (point[0], point[1])).meters
        previous_point = point

    return distance

In [51]:
df.timestamp = pd.to_datetime(df.timestamp)
df['date'] = df.timestamp.dt.date

In [52]:
df = df.drop(columns=['id'])
df = df.drop_duplicates()

In [53]:
matching_activities = pd.DataFrame()

for date, elt in df.groupby('date'):
    nb_users = elt.user_id.nunique()

    if nb_users == 2:
        user_1_activities = elt[elt.user_id == elt.user_id.unique()[0]].activity_id.unique()
        user_2_activities = elt[elt.user_id == elt.user_id.unique()[1]].activity_id.unique()

        activities = [(x, y) for y in user_1_activities for x in user_2_activities]

        # activities = elt.activity_id.unique()

        # print(f"Found {len(activities)} activities for {date}")
        for activity in activities:
            new_activity = pd.DataFrame({
                'date': [date],
                'activity_id_1': [activity[0]],
                'activity_id_2': [activity[1]],
                'type': [elt.loc[elt.activity_id == activity[0], 'activity_type'].unique()[0]],
            })
            # print(f"New activity : {new_activity}")
            matching_activities = pd.concat([matching_activities, new_activity], ignore_index=True)
matching_activities = matching_activities.drop(columns=['date']).drop_duplicates()

In [54]:
result = pd.DataFrame()

for idx, row in matching_activities.iterrows():
    activity_1 = df.loc[df.activity_id == row.activity_id_1]
    activity_2 = df.loc[df.activity_id == row.activity_id_2]

    track1 = activity_1[['latitude', 'longitude']].values
    track2 = activity_2[['latitude', 'longitude']].values

    activity = pd.merge(activity_1, activity_2, on='timestamp', how='inner')
    if activity.empty:
        # print("No matching coordinates found")
        continue
    activity['distance'] = activity.apply(lambda row: geodesic((row.latitude_x, row.longitude_x), (row.latitude_y, row.longitude_y)).meters, axis=1)
    if activity.distance.median() < 500:
        new_activity = pd.DataFrame({
            'activity_id_1': [row.activity_id_1],
            'activity_id_2': [row.activity_id_2],
            'type': [row.type],
            'distance': [calculate_distance(activity[['latitude_x', 'longitude_x']].values) / 1000.],
        })
        result = pd.concat([result, new_activity], ignore_index=True)
    else:
        print(f"Median distance between {row.activity_id_1} and {row.activity_id_2} : {activity.distance.median()} meters")
    # for idx in range(gpx_len):
    #     distance = geodesic(track1[idx], track2[idx]).meters
    #     time_difference = abs((activity_1.timestamp.iloc[idx] - activity_2.timestamp.iloc[idx]).total_seconds())
    #     if (distance <= radius and time_difference <= delay):
    #         matching_coordinates.append(track1[idx])
    #     else: print(f"No match found for this point {distance} meters away, {time_difference} seconds away")
    # distance = calculate_distance(matching_coordinates)
    # print(f"Distance between {row.activity_id_1} and {row.activity_id_2} : {distance} meters")

Median distance between 4670838236 and 4670723147 : 143656.7594719834 meters
Median distance between 5157593429 and 5157585529 : 1962.3235129513291 meters
Median distance between 5340009315 and 5341315641 : 181316.91943952692 meters
Median distance between 5532926182 and 5524221230 : 1179.6821739352606 meters
Median distance between 5539489686 and 5524221230 : 1472.7917829824466 meters
Median distance between 5916329836 and 5917506587 : 496319.2901455315 meters
Median distance between 6094935414 and 6097618767 : 396668.37787461985 meters
Median distance between 6239447479 and 6239460793 : 16198.897453413125 meters
Median distance between 6582032274 and 6606037911 : 3838.754223754637 meters
Median distance between 6714347368 and 6713965757 : 82627.79012016782 meters
Median distance between 6714345574 and 6713965757 : 118569.1415803875 meters
Median distance between 6743337143 and 6743311070 : 740111.1624274104 meters
Median distance between 6903934431 and 6904003689 : 13168.632148962852 meters
Median distance between 6935893004 and 6936060200 : 24416.816496372237 meters
Median distance between 7029268428 and 7029027959 : 2986419.585598074 meters
Median distance between 7057627449 and 7051632538 : 2854596.370645173 meters
Median distance between 7078843012 and 7078448425 : 3280671.055124295 meters
Median distance between 7084473382 and 7083797234 : 3354444.6037823115 meters
Median distance between 7089875241 and 7087631484 : 3366176.818170049 meters
Median distance between 7095176804 and 7094538586 : 3295467.5183221283 meters
Median distance between 7144117496 and 7137562233 : 3627553.2551297206 meters
Median distance between 7154017567 and 7148801282 : 3816313.3607821194 meters
Median distance between 7180952523 and 7192305184 : 4154509.0634866813 meters
Median distance between 7197796189 and 7192293698 : 4037583.374270419 meters
Median distance between 7197810911 and 7192293698 : 4033883.3915062207 meters
Median distance between 7197812977 and 7192276323 : 4038433.800235689 meters
Median distance between 7218666824 and 7217692596 : 3864361.3725867607 meters
Median distance between 7287928983 and 7298182217 : 3685615.6068191226 meters
Median distance between 7545587079 and 7543860712 : 6014463.897739571 meters
Median distance between 7578774936 and 7578508864 : 5801.765420288033 meters
Median distance between 7644835850 and 7645023796 : 5581.796047035636 meters
Median distance between 7661295135 and 7661891763 : 12779.537463777926 meters
Median distance between 7732339632 and 7732321186 : 12442.795862856332 meters
Median distance between 7732339386 and 7732321186 : 12182.857488002688 meters
Median distance between 7825065384 and 7825058845 : 1009.3205103419771 meters
Median distance between 8102620905 and 8103855636 : 5293789.09446935 meters
Median distance between 8113501789 and 8114803439 : 5289952.562673161 meters
Median distance between 8113501614 and 8114803439 : 5292382.3849204285 meters
Median distance between 8302930646 and 8304586388 : 5310319.696805089 meters
Median distance between 8302930646 and 8304589703 : 5312117.763876434 meters
Median distance between 8307572981 and 8308995530 : 5193267.245574227 meters
Median distance between 8389077168 and 8392851024 : 4936678.843192143 meters
Median distance between 8418286176 and 8420001989 : 5295722.276214414 meters
Median distance between 8432369682 and 8435221264 : 5257048.895994729 meters
Median distance between 8432366961 and 8435221264 : 5256275.632166885 meters
Median distance between 8510361631 and 8513092574 : 4935249.747199864 meters
Median distance between 8547513675 and 8549868658 : 5287279.5661141295 meters
Median distance between 8735829723 and 8777020722 : 6050604.222521078 meters
Median distance between 8885305563 and 8886315072 : 5292886.319830877 meters
Median distance between 8935447402 and 8937702825 : 5277951.895032137 meters
Median distance between 9026888889 and 9028302420 : 5289432.501269645 meters
Median distance between 9041452355 and 9042582066 : 5287755.153379556 meters
Median distance between 9053704232 and 9054672505 : 5289592.004421216 meters
Median distance between 9095968490 and 9097144072 : 5291193.777169771 meters
Median distance between 9108251785 and 9116636095 : 5012540.174854185 meters
Median distance between 9133265895 and 9135090573 : 5286507.140506953 meters
Median distance between 9183974231 and 9178926720 : 5251197.9294155175 meters
Median distance between 9269434352 and 9279101215 : 7831814.823457329 meters
Median distance between 9308562296 and 9310523664 : 5288561.521728603 meters
Median distance between 9351683167 and 9353274995 : 5292407.619429993 meters
Median distance between 9363536727 and 9364530009 : 5202022.890735518 meters
Median distance between 9409935724 and 9412491232 : 5289812.957780329 meters
Median distance between 9724462486 and 9732799198 : 4898030.549491827 meters
Median distance between 9724462448 and 9732799198 : 4898263.100681718 meters
Median distance between 9724462343 and 9732799198 : 4898935.508806552 meters
Median distance between 9724462593 and 9732799198 : 4900802.284021691 meters
Median distance between 9724462383 and 9732799198 : 4899600.539532088 meters
Median distance between 9724462406 and 9732799198 : 4901580.267794956 meters
Median distance between 9724462426 and 9732799198 : 4901431.517625156 meters
Median distance between 9724462187 and 9732799198 : 4900891.236012157 meters
Median distance between 9724462161 and 9732799198 : 4900596.9237774275 meters
Median distance between 9724462350 and 9732799198 : 4900228.349102528 meters
Median distance between 9724462233 and 9732799198 : 4899855.748142982 meters
Median distance between 9724462008 and 9732799198 : 4900202.698944544 meters
Median distance between 9724462056 and 9732799198 : 4900024.894178655 meters
Median distance between 9724462061 and 9732799198 : 4900131.862360048 meters
Median distance between 9729653610 and 9732788372 : 4895700.674138176 meters
Median distance between 9757607328 and 9759221959 : 5290165.444995964 meters
Median distance between 9757607357 and 9759221959 : 5293188.760398923 meters
Median distance between 9757607369 and 9759221959 : 5290239.516382667 meters
Median distance between 9824094136 and 9820320590 : 5277211.124615579 meters
Median distance between 9824094136 and 9820307543 : 5276647.4224103475 meters
Median distance between 9929445928 and 9929716239 : 313049.03036877746 meters

In [65]:
m = result.groupby('type').agg(['sum','count'])['distance']
# m = result.groupby('type').sum()[['distance']]
m = m.sort_values('sum', ascending=False)
m.loc['total']=m.sum()
m = m.rename(columns={'sum': 'Distance (km)', 'count': 'Activities (#)'})
m = m.astype(int)
m

           Distance (km)  Activities (#)
type
Run                  598              41
Ride                 239               4
TrailRun             215               6
Hike                 151              11
NordicSki            115               5
Canoeing              52               1
AlpineSki             23               1
Walk                  20               2
total               1416              71

In [66]:
result.loc[result.type =='Walk']

   activity_id_1  activity_id_2  type   distance
1     4269030781     4421264323  Walk   7.580504
5     4434970701     4435056210  Walk  12.579076

In [33]:
import stravalib

In [193]:
client = stravalib.Client('2422d447c0c50c458349ba4280c26208efbdbf3e')

In [202]:
client.refresh_access_token('66078', '8f136bd4e4b40ce3591293ec8c282114c34e5219', '474ef6ea5b89d58c88de5303d21d69599748c94d')

{'access_token': '2422d447c0c50c458349ba4280c26208efbdbf3e',
 'refresh_token': '474ef6ea5b89d58c88de5303d21d69599748c94d',
 'expires_at': 1696882110}